<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head.ejs')  %>
<body>
    <%- include('./../partials/nav.ejs')  %>
    <h1>Create</h1>
    <form action="">
        <input type="text" id="" placeholder="Blog Post Title">
        <input type="text" id="" placeholder="Blog Post Snippet">
        <textarea id="" placeholder="Blog Content"></textarea>
        <button type="submit">Submit</button>
    </form>
    <%- include('./../partials/footer.ejs')  %>
</body>
</html>